header h1{
    text-align: center;
    margin: 0;
    font-size: 2rem;
    font-style: oblique;
}

.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
    height: 80px;
    width: 100%;

}

.logo img{
    height: 100%;
    display: flex;
    align-items: center;
}

.logo-center {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


nav{    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-grow: 1;
    max-width: none;
    width: 100%;
    background-color: #b4dccf;
    padding: 0.01px;
    flex-wrap: wrap;
}

nav ul{
    display: flex;
    list-style-type: none;
    background-color: #b4dccf;
    padding: 0;
    margin: 0;
    height: 100%;
    align-items: center;
}

.navbar a{
    color: #ffffff;
    text-decoration: none;
    padding: 0 20px;
    display: flex;
    text-align: center;
    height: 100%;
}

.navbar a:hover{
    background-color: #63b2a7;
    text-decoration: underline;
}

nav ul li{
    margin: 0 10px;
    
}

body {
    height: 100%;  
    margin: 0;     
    padding: 0;
    line-height: 1.4;
    background-color: #63b2a7;
    display: flex;
    flex-direction: column;
}

main {
    padding: 25px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px), 1fr);
    gap: 15px;
    flex: 1; 
}

/* For the Image slider on home page */

.container {
    padding: 2rem;
}

.slider-wrapper {
    position: relative;
    max-width: 48rem;
    margin: 0 auto;
}

.slider {
    display: flex;
    aspect-ratio: 16/9;
    overflow-x: auto;
}



/* Styling for the Products Page */

.products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 40px;
    padding: 20px;
    justify-items: center;
}

.products img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto; /* Center the image */
    border-radius: 10px; /* Rounded corners */
}

/* ensure containers dont overflow */
.products section {
    background-color: #5350504b;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgba(27, 27, 27, 0.404);
    max-width: auto;
    width: 100%;
}

.products p {
    margin: 10px 0;
}

.products a {
    display: inline-block;
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #70604a;
    color: white;
    text-decoration: none;
    border-radius: 3px;
}





footer {
    background-color: #070b42;  
    color: white;               
    padding: 40px 0;               /* Space inside the footer */
    text-align: center;           /* Center align text */
    border-radius: 0px;          /* Rounded corners */
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    position: absolute;
    bottom: 0;
    height: 75px;
    margin-top: 320px;
    width: 100%;
}
