header h1{
    text-align: center;
    margin: 0;
    font-size: 2rem;
    font-style: oblique;
}

.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
    height: 80px;
    width: 100%;

}

.logo img{
    height: 100%;
    display: flex;
    align-items: center;
}

.logo-center {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


nav{    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-grow: 1;
    max-width: none;
    width: 100%;
    background-color: #b4dccf;
    padding: 0.01px;
    flex-wrap: wrap;
}

nav ul{
    display: flex;
    list-style-type: none;
    background-color: #b4dccf;
    padding: 0;
    margin: 0;
    height: 100%;
    align-items: center;
}

.navbar a{
    color: #ffffff;
    text-decoration: none;
    padding: 0 20px;
    display: flex;
    text-align: center;
    height: 100%;
}

.navbar a:hover{
    background-color: #63b2a7;
    text-decoration: underline;
}

nav ul li{
    margin: 0 10px;
    
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;  
    margin: 0;     
    padding: 0;
    line-height: 1.4;
    background-color: #ffffff7d;
}

main {
    flex: 1; 
    padding: 25px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px), 1fr);
    gap: 15px;
}

/* For the Image slider on home page -- Alex*/

.container {
    padding: 2rem;
    
}

.slider-wrapper {
    position: relative;
    max-width: 48rem;
    margin: 0 auto;
    align-items: center;
}

.slider {
    display: flex;
    aspect-ratio: 16/9;
    overflow-x: auto;
}



/* Styling for the Products Page -- Alex*/

.products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 40px;
    padding: 20px;
    justify-items: center;
}

.products img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto; /* Center the image */
    border-radius: 10px; /* Rounded corners */
}

/* ensure containers dont overflow */
.products section {
    background-color: #5350504b;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgba(27, 27, 27, 0.404);
    max-width: auto;
    width: 100%;
}

.products p {
    margin: 10px 0;
}

.products a {
    display: inline-block;
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #70604a;
    color: white;
    text-decoration: none;
    border-radius: 3px;
}


/* Styling for Login Page -- Alex*/
.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
}

.button {
    background-color: #70604a;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;    
}

.button:hover {
    background-color: #070b42;
}

.button-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

/* Styling for Register Page */

.register-page {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff; /* Light background color */
}

.container header{
    font-size: 1.5rem;
    text-align: center;
    font-weight: bold;
}

.container {
    width: 400px;
    padding: 20px;
    background: rgba(155, 156, 156, 0.618);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    padding-bottom: 20px;
    margin-bottom: 100px;
}

.container .form{
    margin-top: 20px;
}

.form .row{
    display: flex;
    column-gap: 15px;
    justify-content: space-between;

}

.row .Input{
    flex: 1;
}

.Input{
    display: flex; 
    flex-direction: column;
    text-align: left;
    width: 200%;
}

.Input label{
    font-size: 15px;
    margin-bottom: 2px;
}

.Input input{
    border-radius: 5px;
    padding: 10px;
}

.form .Input{
    width: 100%;
    margin-top: 10px;
    outline: none;
    
}

/* Team memeber grid -Rayyan */
.team {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
    justify-items: center;
    text-align: center;
}

.member{
    background-color: rgba(155, 156, 156, 0.618);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    max-width: 300px;
    width: 100%;
}

.member img{
    width: 100%;
    max-width: 150px;
    height: auto;
    border-radius: 50%;
    margin-bottom: 10px;
}






footer {
    background-color: rgb(24, 50, 76);  
    color: white;               
    padding: 40px 0;               /* Space inside the footer */
    text-align: center;           /* Center align text */
    border-radius: 0px;          /* Rounded corners */
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    position: relative;
    bottom: 0;
    height: 30px;
    margin-top: 30px;
    margin-bottom: 0;
    width: 100%;
}
